# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
.vite/

# TypeScript
*.tsbuildinfo

# Vite local env files
.env
.env.*.local

# Editor configs
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prettier & ESLint caches
.prettiercache
.eslintcache

# Test coverage
coverage/

# System files
.DS_Store
Thumbs.db
ehthumbs.db

# Lockfiles (ignore se usa só pnpm)
package-lock.json
yarn.lock

# OS-specific
*~

# pnpm
.pnpm-debug.log*
